# code: language=yaml
#
# ArgoCD Application: apps
#
# Root app-of-apps Application that syncs ArgoCD Application manifests
# from the gitops repo's apps/ directory. Gated on ArgoCD being ready.
#

{{- $obs := $state.observed }}
{{- $apps := $state.applications }}
{{- $repo := $state.repository }}

{{- $repoCredsReady := true }}
{{- if $state.externalSecrets.enabled }}
  {{- $repoCredsReady = $obs.repoCreds.ready }}
{{- end }}

{{- if and $apps.apps.enabled $obs.argocd.ready $repoCredsReady }}
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $state.name }}-argocd-apps
  annotations:
    {{ setResourceNameAnnotation "argocd-apps" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    manifest:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: apps
        namespace: {{ $state.argocd.namespace }}
        finalizers:
        - resources-finalizer.argocd.argoproj.io
      spec:
        destination:
          namespace: {{ $state.argocd.namespace }}
          server: https://kubernetes.default.svc
        project: default
        source:
          path: {{ $apps.apps.path }}
          repoURL: {{ $repo.url }}
          targetRevision: HEAD
        syncPolicy:
          automated:
            allowEmpty: true
            prune: true
            selfHeal: true
          syncOptions:
          - allowEmpty=true
  providerConfigRef:
    name: {{ $state.kubernetesProviderConfigRef.name }}
    kind: {{ $state.kubernetesProviderConfigRef.kind }}

{{- if $obs.argocd.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.name }}-delete-apps-before-argocd
  annotations:
    {{ setResourceNameAnnotation "usage-apps-argocd" }}
  labels: {{ $state.labels | toJson }}
spec:
  replayDeletion: true
  of:
    apiVersion: helm.m.crossplane.io/v1beta1
    kind: Release
    resourceRef:
      name: {{ $state.argocd.name }}
  by:
    apiVersion: kubernetes.m.crossplane.io/v1alpha1
    kind: Object
    resourceRef:
      name: {{ $state.name }}-argocd-apps
{{- end }}

{{- end }}
